body {


    background: linear-gradient(to bottom right, #86A8CF, #2B124C);
    margin: 0; /* para remover as margens padrão do body*/
    padding: 0; /* também para remover o preenchimento padrão do body */
    font-family: Arial, sans-serif; /*fonte padrão*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn img {width: auto;
    height: auto;
    max-width: 25px;
    max-height: 25px;

}


.container {
    padding: 20px;
    max-width: 400px;
    background-color: azure;
    opacity: 0.9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0,0.1);
}   

.form-group {
    margin-bottom: 15px;
}
.form-group label {

    font-weight: bold;
}

.form-group input,
.form-group select {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #2B124C;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

button:hover {

    background-color: #009588;
}